name: Build Nightly

on:
  push:
    branches: 
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"

      - name: Checkout
        uses: actions/checkout@master

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Cross Compile
        run: |
          cargo install cross --git https://github.com/cross-rs/cross
          cross build --release -p quicklook-rs -p cli --target x86_64-unknown-linux-gnu
          cross build --release -p quicklook-rs -p cli --target aarch64-unknown-linux-gnu
      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: cangzhang/quicklook-rs
          tags: type=sha, format=short, prefix=nightly-

      - uses: actions/upload-artifact@v3
        env:
          GITHUB_RUN_ID: ${{ env.GITHUB_RUN_ID }}
        with:
          name: nightly-${{ github.run_id	 }}
          path: |
            target/*-unknown-linux-gnu/release/quicklook-*
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
